name: Java CI
on: push
jobs:
  clone:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - uses: actions/checkout@v3
      - uses: actions/upload-artifact@v3
        with: 
          name: code
          path: .
      
  build:
    needs: clone
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: code
          path: .
      - name: Build
        run: chmod +x ci/build-app.sh && ci/build-app.sh
      - name: Test
        run: chmod +x ci/unit-test-app.sh && ci/unit-test-app.sh
      - uses: actions/upload-artifact@v3
        with: 
          name: code
          path: 
      